* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(10, 10, 10, 0.781),
      rgba(6, 1, 14, 0.705)
    ),
  url("../../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin: 0 60px;
  overflow: hidden;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}


.list {
  display: flex;
  flex-direction: row;
}
.list-item {
  list-style: none;
  margin: 0 1rem;
  color: #ecb02e;
  font-size: 20px;
}
.list-item:hover {
  color: rgb(235, 121, 46);
  font-weight: 700;
}
.button-small {
  background-color: #ff5349;
  padding: 15px 40px;
  border: none;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
  height: 85vh;
  text-align: center;
}

.hero-heading {
  color: #ffde2b;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: "Dela Gothic One", cursive;
  width: 68%;
  margin: auto;
}

.button-large {
  background-color: #aa381e;
  padding: 18px 45px;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  margin-top: 40px;
}

.bottom {
  text-align: right;
}
